.CustomPlayButton {
  position: relative;
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: rgb(213, 216, 56);
  transform: rotate(315deg);
  top: 38px;
  left: 40px;
	box-shadow: inset 7px 0px 3px rgba(5, 4, 4, 0.25),inset -7px 0px 5px rgba(5, 4, 4, 0.25);
	cursor: grab;
}
.CustomPlayButton::before {
  content: "";
  width: 75px;
  height: 20px;
  background-color: darkgrey;
  border-radius: 5px;
  position: absolute;
  top: 0px;
  right: -12.5px;
	box-shadow: inset 7px 0px 3px rgba(5, 4, 4, 0.25),inset -7px 0px 5px rgba(5, 4, 4, 0.25);
}

.CustomPlayButton::after {
  content: "Play/Pause";
  color: #ffffff;
  position: absolute;
	font-size: larger;
  bottom: -35px;
  right: -25px;
}