.CustomDisplay {
  height: 75px;
  background-color: #b2c46e;
  box-shadow: inset 5px 5px 1px rgba(5, 4, 4, 0.25),inset -5px -5px 1px rgba(5, 4, 4, 0.25) ;
  border-radius: 5px;
  z-index: 2;
  font-size: 36px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
}
