.Triangle {
  color: #f6ee1e;
	font-size: 60px;
}

.Button {
  border: none;
  background-color: black;
  cursor: pointer;
  outline: none;
}



@media screen and (max-width:600px) {

.Triangle{
	font-size: 24px;
}


}