body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Container{
	display: flex;
	justify-content: space-around;
	width: 15.6rem;
	align-items: center;
}
.Label{
  color: #ffffff;
  font-size: 24px;
}
.Title{
	color: #ffffff; 
	font-size: 36px;
}
.Timer{
		display: flex;
		flex-direction: column;
		width: 18.75rem;
		text-align: center
}

@media screen and (max-width:600px){
	.Title{
		font-size: 24px;
	}
	.Label{
		font-size:16px;
	}
	.Container{
		width: 130px;
	}
.Timer{
	width:175px;
}
}